*.o

Makefile
Makefile.in

ABOUT-NLS
COPYING
INSTALL
missing
depcomp
install-sh
mkinstalldirs
stamp-h1
config.*
aclocal.m4
configure
*.tar.gz
push
posixutils-config.h*

.dotest
autom4te.cache
.deps
m4

getconf-confstr.h
getconf-path.h
getconf-system.h

asa
basename
cat
chown
cksum
comm
compress
date
df
dirname
echo
false
getconf
grep
head
ipcrm
kill
link
ln
logger
logname
mesg
mkdir
mkfifo
mv
nice
nohup
pathchk
pwd
renice
rm
rmdir
sleep
split
tee
touch
true
tty
unlink
uuencode
wc
what

