*.o

Makefile
Makefile.in

COPYING
INSTALL
missing
depcomp
install-sh
stamp-h1
aclocal.m4
configure
config.guess
config.sub
config.log
config.status
*.tar.gz
push
posixutils-config.h*

.dotest
autom4te.cache
.deps

kill-siglist.h
getconf-confstr.h
getconf-path.h
getconf-system.h
signal-copy.h

asa
basename
cat
chown
cksum
comm
compress
date
df
dirname
echo
false
getconf
grep
head
id
ipcrm
kill
link
ln
logger
logname
mesg
mkdir
mkfifo
mv
nice
nohup
pathchk
pwd
renice
rm
rmdir
sleep
split
tee
touch
true
tty
unlink
uuencode
wc
what

