*.o

Makefile
Makefile.in

COPYING
INSTALL
missing
depcomp
install-sh
stamp-h1
aclocal.m4
compile
configure
config.guess
config.sub
config.log
config.status
test-driver
*.tar.gz
push
posixutils-config.h*

.dotest
autom4te.cache
.deps

signal-copy.h

tabs
tee
time
touch
tput
true
tsort
tty
uname
uniq
unlink
uuencode
wc
what

